


#course{
    background-image: url(../../assets/images/gradient.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.course-card{
    background-image: url(../../assets/icons/star.svg);
    background-repeat: no-repeat;
    background-size: 18%;
    background-position: 10% 20%;
}