

.lesson-card{
    width: 510px;
    padding: 40px;
    border: 2px solid rgba(250, 164, 12, 0.50);
    color: white;
}

.lesson-title{
    color: #00E689;
    font-size: 20px;
    font-weight: 800;
}

.lesson-subtitle{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 800;
}

.lesson-text{
    font-size: 20px;
    line-height: 24px;
}