


.swiper-pagination{
    // width: fit-content !important;
    position:  absolute;
    bottom: 0px !important;
}

.swiper-pagination-bullet{
    background-color: white !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active{
    background-color: #00E689 !important;
}
